/* Your styles goes here */

.title {
    color: dodgerblue;
    text-align: center;
}

.input-text {
    border-style: groove;
    margin: 25px 25px 25px 50px;
    border-radius: 4px;
    width: 80%;
    font-size: 15px;
    text-indent: 15px;
    height: 45px;
}

.add-button {
    color: #ffffff;
    background-color: #c0c0c0;
    border-radius: 4px;
    border: 1px solid #c0c0c0;
}

.line {
    border-width: 3px;
    margin: 0px 50px 0px 50px;
}

.div {
    margin: 0px 25px 0px 50px;
    cursor: move;
}

.action {
    color: dodgerblue;
    font-size: 18px;
    text-indent: 15px;
}

.button {
    color: dodgerblue;
    background-color: #ffffff;
    border-radius: 8px;
    border: 2px solid #ffffff;
}

.remove-button {
    color: dodgerblue;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    float: right;
    margin-right: 50px;
}

.checkbox {
    margin: 25px 25px 5px 0px;
    width: 25px;
    height: 25px;
}

.edit-text {
    border-style: groove;
    border-radius: 4px;
    width: 40%;
    font-size: 15px;
    text-indent: 15px;
    height: 25px;
}

.container {
    position: relative;
    padding-left: 15px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}


.dragStartClass {
    opacity: 0.5;
}

.div.over {
    border-top: thick solid #65ccff;
    border-top-width: 25px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
